:root{
  --dark:#1C1C1C;
  --white:#FFFFFF;
  --purple:#8435DE;
 --btn-background: linear-gradient(to right, #8439DC, #B458DD);
}
body{
  background-color: var(--dark);
  color: var(--white);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.header-title{
  font-size: 48px;
  font-weight: 600;
}
.header-subtitle{
  max-width: 600px;
  font-size: 20px;
  font-style: italic;

  text-align: center;
}
.btn-start{
  font-style: oblique;
  font-size: 18px;
  font-weight: 600;
  background: var(--btn-background);
  color: var(--white);
  border-radius: 25px;
}