:root{
  --dark:#1C1C1C;
  --white:#FFFFFF;
  --light-grey:#e9ecef;
  --purple:#8435DE;
  --dark-purple:#3C0E70;
 --btn-background: linear-gradient(to right, #8439DC, #B458DD);
}
body{
  background-color: var(--dark);
  color: var(--white);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.header-title{
  font-size: 48px;
  font-weight: 600;
}
.header-subtitle,
.finish-title{
  max-width: 600px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.title{
  font-size: 30px;
  font-weight: 600;
  font-style: oblique;
  letter-spacing: 0.1em;
  text-align: center;
}
.progress-bar{
  width: 100%;
  height: 20px;
  margin-top: 30px;   
}
progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: var(--light-grey);
  overflow: hidden;
  position: relative;
}

progress::-webkit-progress-value {
  background: repeating-linear-gradient(
    45deg,
    #8435DE,
    #8435DE 10px,
    #3C0E70 10px,
    #3C0E70 20px
  );
  animation: moveStripes 1s linear infinite;
}

progress::-webkit-progress-bar {
  background-color:var(--light-grey);
}

@keyframes moveStripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.content{
  width: 750px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 20px;
  padding: 24px;
  margin-block: 30px;
}
.count{
  font-size: 14px;
}
.question{
  font-size: 20px;
}
.answers-group{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
.answer{
  width: auto;
  background-color: var(--dark-purple);
  color: var(--white);
  border-radius: 10px;
  padding: 20px;
}
.answer:hover{
  cursor: pointer;
  opacity: 0.8;
}
.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 25px;
}
.btn-try{
  width: 30%;
}
.finished-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.finish-title{
  max-width: 500px;
  font-size: 40px;
}
.finish-text{
  font-size: 20px;
}
